$width: 100%;
$back-color: #d4ebfd;

@mixin width($wdith) {
  width: $wdith;
}
* {
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: border-box;
}
.ver-hor-center-align {
  justify-content: center;
  align-items: center;
}
.d-flex {
  display: flex;
}
body {
  background: $back-color;
  font-family: "Roboto", sans-serif;
}
.img-fluid {
  max-width: 100%;
  display: block;
  height: auto;
}

.inputClass {
  position: relative;
  border: none;
  background: transparent;
  border-bottom: solid 2px #4d4be2;
  outline: none;
  padding: 0.25rem 1rem;
  font-size: 1.2rem;
  color: #000;
}
.commonAfter {
  content: "";
  position: absolute;
  height: 2px;
  width: 0%;
  transition: 0.6s;
  left: 0%;
  z-index: 9;
  background: #a20b35;
  bottom: 0;
}
.overFlowHid {
  position: relative;
}
.wrapper {
  @include width($width);
  @extend .d-flex;
  @extend .ver-hor-center-align;
  height: 100vh;
}
.form {
  max-width: 450px;
  background: #fff;
  padding: 8rem 2rem 2rem;
  position: relative;
  border-radius: 0.5rem;
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.5);
  margin-top: 3rem;
  .card {
    max-width: 350px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: -25%;
  }
  .form-grp-mar-padd {
    margin-bottom: 0.5rem;
    padding-top: 1.5rem;
  }
  .form-group {
    @include width($width);
    @extend .d-flex;
    @extend .form-grp-mar-padd;
    @extend .overFlowHid;
    flex-wrap: wrap;
    &::after {
      @extend .commonAfter;
    }
    label {
      @include width($width);
      position: absolute;
      bottom: 5px;
      transition: 0.3s;
      left: 15px;
    }
    input {
      @include width($width);
      @extend .inputClass;
    }
  }
  .input-group {
    @extend .d-flex;
    @extend .form-grp-mar-padd;
    .select-wrap {
      flex: 0 0 70%;
      width: 70%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: flex-end;
      label {
        @include width($width);
        padding-left: 15px;
        transition: 0.3s;
        position: relative;
        top: -10px;
      }
      .select-group {
        flex: 0 0 50%;
        width: 50%;
        @extend .overFlowHid;
        &::after {
          @extend .commonAfter;
        }
        select {
          @include width(80%);
          @extend .inputClass;
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
        }
        select::-ms-expand {
          display: none;
        }
      }
    }
    .form-group {
      margin-bottom: 0;
    }
  }
  .btn-group {
    @extend .form-grp-mar-padd;
    button {
      @include width($width);
      border: none;
      background-image: linear-gradient(
        to right,
        rgb(0, 85, 212),
        rgba(0, 85, 212, 0.1)
      );
      color: #fff;
      padding: 0.5rem;
      outline: none;
      font-size: 1.2rem;
      cursor: pointer;
      transition: 0.3s;
      background-size: 200%;
      border-radius: 0.25rem;
      &:hover {
        background-position: right;
      }
    }
  }
  .focus > label {
    bottom: 30px;
    font-size: 12px;
  }
}
.focus::after {
  width: 100% !important;
}
.select-group.focus::after {
  width: 80% !important;
}
.focus select {
  border: none !important;
}

.smallLabel {
  label {
    font-size: 12px;
  }
}

.errorMsg {
  position: absolute;
  bottom: -15px;
  font-size: 12px;
  left: 15px;
  color: rgb(255, 0, 0);
  display: none;
}
.thankYou {
  display: none;
  h1 {
    text-align: center;
  }
}

.jsonData {
  word-break: break-word;
  margin-top: 2rem;
  line-height: 1.5;
}
.paddingTop {
  padding-top: 12rem;
}
@media (max-width: 767px) {
  .wrapper {
    padding: 0 15px;
    .form {
      padding: 3rem 1rem 2rem;
      .card {
        max-width: 220px;
      }
    }
    .paddingTop {
      padding-top: 6rem;
    }
  }
  .thankYou {
    h1 {
      margin-top: 1rem;
      font-size: 25px;
    }
  }
  .errorMsg{
    font-size: 11px;
    left: 5px;
  }
}
